%h1 Edit Article
%p
Wiki supports and renders articles with HTML content, learn more: 
= link_to "HTML Guide", "https://www.w3schools.com/html/default.asp"
%br
%br
= render 'form'

%br
= link_to "Cancel", @article